[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/
.vs/
*.user
*.userosscache
*.suo
*.userprefs
*.sln.docstates
project.lock.json
artifacts/
.idea/
*.DotSettings.user
.vscode/
*.import
.import/
.godot/
# Written by tools/godot/ci.sh when the container SDK is not 8.x
game/global.json
.DS_Store
Thumbs.db
*.nupkg
**/[Pp]ackages/*
!**/[Pp]ackages/build/
